body {
    background-color: black;
}

canvas {
    background: repeating-conic-gradient(from 90deg,
            #333333 0% 25%, #141414 0% 50%) 50%/100px 100px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation-name: moveCheckeredBackground;
    animation-duration: 95s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#canvasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes moveCheckeredBackground {
    from {
        background-position-x: 0%;
        background-position-y: 0%;
    }

    to {
        background-position-x: -100%;
        background-position-y: 100%;
    }
}