body {
    background: repeating-conic-gradient(from 45deg,
            #0c0c0c 0% 25%, #141414 0% 50%) 50%/60px 60px
}

canvas {
    background-color: #000;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#canvasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}